.breadcrumb {
    margin: 50px;
}

.img__wrapper {
    position: relative;
    width: 100%;
}

.img__crab {
    position: absolute;
    right: 0;
}

.img__wheel {
    position: absolute;
    right: 0;
    top: 1500px
}

.img__bubble {
    position: absolute;
    top: 2100px;
    right: 10;
}

@media screen and (max-width: 1200px) {
    .img__crab, .img__wheel, .img__bubble {
        width: 150px;
        height: 150px;
    }
}