header {
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
    background-color: #EDF4FA;
    color: black;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tel_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tel p:first-child {
    margin-left: 28px;
}

.tel_img:hover  {
    transform: rotate(45deg);
    transition: 0.5s;
}


ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0;
    flex-wrap: wrap;
    gap: 90px;
}

li {
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1700px) {
    ul {
        gap: 60px;
    }
    
}

@media screen and (max-width: 1500px) {
    ul {
        gap: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .header_container {
        font-size: 15px;
    }

    ul {
        gap: 15px;
    }
    
    .logo {
        width: 200px;
        height: 80px;
    }
    
}

@media screen and (max-width: 700px) {
    .logo {
        width: 150px;
        height: 60px;
    }

    ul {
        gap: 5px;
    }

    li {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }

    .header_container img {
        width: 25px;
        height: 25px;
    }

    .header_container {
        font-size: 12px;
    }
}

