.fish__catalog {
    width: 100%;
}

.fish__catalog__title {
    background-image: url("../../static/background/backMask.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    width: 100%;
    height: 120px;
    display: flex;
}

.fish__catalog__title__p {
    margin: 50px 190px;
    font-size: 48px;
    font-weight: 400;
    font-family: Forum;
}

.fish__catalog__card__img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.fish__catalog__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 50px 140px;
}



.fish__catalog__card {
    flex-wrap: wrap;
    width: 380px;
    height: 480px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top: none;
    padding: 15px;
    font-family: Montserrat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fish__catalog__card__name {
    font-size: 24px;
    font-weight: 400;
}

.catalog__card {
    border: 1px solid black;
    border-radius: 35px;
}


.fish__catalog__card__characteristics {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    margin: 15px 0;
    height: 160px;
    overflow: auto;
}

.fish__catalog__card__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.button__catalog {
    width: 100%;
    height: 77px;
    background: #FFFFFF;
    border-radius: 62px;
    font-size: 24px;
    line-height: 31px;
    border: none;
    cursor: pointer;
    background-color: #CA3313;
    color: black;
}

.button__catalog:hover {
    background-color: #9D2911;
}

.button__catalog:active {
    background-color: #A3A2A2;
    transition: 0.1s;
}


.dialog__input {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
}

.dialog__input__tel {
    width: 100%;
    border: none;
    border-bottom: 1px solid  #818181;
    padding-bottom: 0;
    font-family: Montserrat;
    font-size: 14px;
}

.dialog__input__tel:focus {
    outline: none;
}

.dialog__input__text {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.dialog__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
}

.dialog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 50px;   
}

.dialog__input__button {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 45px;
    border: none;
    background-color: #CA3313;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.dialog__input__button:hover {
    background-color: #9D2911;
}

.dialog__input__button:active {
    background-color: #A3A2A2;
}

.dialog__input__politic {
    font-size: 12px;
    font-weight: 300;
}

.dialog__wheel {
    width: 686px;
    height: 603px;
    rotate: 45deg;
    margin-top: -400px;
    margin-right: -250px;
}


@media screen and (max-width: 1200px) {

    .fish__catalog__cards {
        margin: 50px 100px;
        gap: 30px;
    }

    .fish__catalog__card {
        width: 270px;
        height: 400px;
        padding: 10px;
    }

    .fish__catalog__card__img {
        height: 250px;
    }

    .fish__catalog__title {
        height: 100px;
    }

    .fish__catalog__title__p {
        font-size: 32px;
        margin: 50px 100px;
    }

    .fish__catalog__card__name {
        font-size: 18px;

    }
    
    .fish__catalog__card__characteristics {
        font-size: 14px;
        height: 120px;
    }

    .fish__catalog__card__description {
        font-size: 14px;
    }

    .button__catalog {
        font-size: 18px;
        height: 50px;
    }

    .dialog__wheel {
        width: 400px;
        height: 350px;
        rotate: 45deg;
        margin-top: -300px;
        margin-right: -200px;
    }
}

@media screen and (max-width: 850px) {
    .fish__catalog__title__p {
        font-size: 24px;
        margin: 30px;
    }

    .fish__catalog__cards {
        margin: 50px 10px;
        gap: 30px;   
    }

    .fish__catalog__card {
        width: 220px;
        height: 330px;
        padding: 10px;
    }

    .fish__catalog__card__img {
        height: 200px;  
    }

    .fish__catalog__title {
        height: 80px;
    }

    .fish__catalog__card__name {
        font-size: 16px;
    }
    
    .fish__catalog__card__characteristics { 
        font-size: 12px;
        height: 80px;
    }   

    .fish__catalog__card__description {
        font-size: 12px;
        line-height: 13px;
    }

    .button__catalog {
        font-size: 16px;
        height: 40px;
    }
}


@media screen and (max-width: 550px) {
    .fish__catalog__cards {
        margin: 50px 10px;
        gap: 10px;   
    }

    .fish__catalog__card {
        width: 150px;
        padding: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .fish__catalog__card__img {
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .catalog__card {
        border-radius: 15px;
    }

    .fish__catalog__card__name {
        font-size: 14px;
    }

    .fish__catalog__card__characteristics {
        font-size: 10px;
    }

    .fish__catalog__card__description {
        font-size: 10px;
    }

    .button__catalog {
        font-size: 14px;
    }

    .dialog__wheel {
        display: none;
    }

    .dialog__input__button {
        font-size: 14px;
        height: 60px;
    }
}